/* Colores */
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #8b8b8b;
}

/* Header */
.encabezado {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.encabezado h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

.boton {
  background-color: #9d6426;
  color: #FAFAFA;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
}
.boton:hover {
  background-color: #ffb32f;
  color: #FAFAFA;
  cursor: pointer;
}

.encabezado li {
  list-style-type: none;
  display: inline-block;
}
.encabezado li a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
}
.encabezado li a:hover {
  color: #9d6426;
}

/* Banner */
.banner {
  background-image: url(../img/fondobanner.jpg);
  height: calc(100vh - 100px);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerdivisor {
  background-color: #9d6426;
  height: calc(25vh - 80px);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.bannerContenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bannerContenido h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #FAFAFA;
  margin-bottom: 10px;
}
.bannerContenido p {
  color: #FAFAFA;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.bannerContenido .boton {
  margin-top: 10px;
}
.bannerContenido .color-changing-text {
  display: inline-block;
  font-size: 3em;
  color: #ff6347;
  animation: colorChange 3s linear infinite;
}
@keyframes colorChange {
  0% {
    color: #ff6347;
  }
  50% {
    color: #4682b4;
  }
  100% {
    color: #32cd32;
  }
}

.productos {
  text-align: center;
  margin: 10vh;
  border-bottom: 1px solid black;
}
.productos h3 {
  color: #9d6426;
  text-transform: uppercase;
  font-size: 3rem;
}
.productos p {
  font-size: 4rem;
  color: #212121;
  padding: 10px;
}

.contenedorproductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 470px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #000000;
}
.carousel .carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel .carousel-images img {
  width: 470px;
  height: 370px;
  display: block;
}
.carousel .prev,
.carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel .prev:hover,
.carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.carousel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.contact-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 16px;
  background-color: #9d6426;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-container h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.contact-container .contact-form {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form .form-group {
  margin-bottom: 15px;
}
.contact-container .contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-container .contact-form .form-group input,
.contact-container .contact-form .form-group textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
.contact-container .contact-form button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(88, 60, 60);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-container .contact-form button:hover {
  background-color: #3a2727;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  color: #333;
  background-color: #9d6426;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.fotos img {
  max-width: 100%;
}
.fotos p {
  margin: 10px 0;
}
.fotos button {
  background-color: #9d6426;
  color: #FAFAFA;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
.fotos button:hover {
  background-color: #ffb32f;
}

/*Contacto*/
.contenedorContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.Contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.contenedorEquipo {
  display: flex;
  margin: 10vh;
}

/* Footer */
.footer {
  background-color: #3e3e3e;
  color: #FAFAFA;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #9d6426;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5rem;
}
.redesSociales a:hover {
  color: #ffb32f;
}

.footer i {
  margin-right: 10px;
}

/*responsive*/
@media (max-width: 1023px) {
  .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .encabezado .boton {
    display: none;
  }
  .bannerContenido p {
    font-size: 2.5rem;
  }
  .productos {
    margin: 5vh;
    font-size: 2rem;
  }
  .productos h3,
  .productos p {
    font-size: inherit;
  }
  .contenedorproductos {
    grid-template-columns: 1fr 1fr;
  }
  .contenedorContacto {
    grid-template-columns: 1fr 1fr;
  }
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
  .contenedorEquipo {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .contenedorproductos {
    grid-template-columns: 1fr;
  }
  .contenedorContacto {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=estilos.css.map */